extends ../_shared/root-layout


block head

	link(rel = 'stylesheet', href = '/cv/css/cv.css')

block body
	- var divide = '&nbsp;<span class="text-muted">//</span>&nbsp;'

	div.container

		//- header

		h1 Mark Ormesher
		p.subtitle
			| Student &amp; Software Developer
			| &nbsp;&nbsp;&nbsp;
			a(href = '/', title = 'My portfolio site'): i.fa.fa-fw.fa-globe.text-muted
			| &nbsp;&nbsp;&nbsp;
			a(href = '/contact', title = 'Contact me'): i.fa.fa-fw.fa-envelope-o.text-muted

		//- education

		h2 Education

		h3 2013 - 2017 !{divide} King's College London University
		ul
				li BSc Computer Science with a Year in Industry
				li Current average: 88.9% (as at 28 th April 2015)

		h3 2010 - 2012 !{divide} West Coventry Sixth Form
		ul
				li A-Levels: Media Studies (A*), Mathematics (A), ICT (B), Economics (B)
				li AS-Level: Critical Thinking (A), Additional Mathematics (A)

		//- awards and memberships

		h2 Awards &amp; Memberships

		ul
			li 2014 !{divide} British Computing Society Prize for Best Student
			li 2014 !{divide} KCL Department of Informatics Award for Exceptional Contribution
			li 2014 !{divide} Sambrooke Exhibition in Natural Sciences (via King’s College London)
			li 2014 !{divide} John Wiley and Sons Prize (via King’s College London)
			li 2014 - pr. !{divide} Member of the British Computing Society
			li 2007 - 2012 !{divide} Member of UK Young Gifted and Talented
			li 2015 - 2012 !{divide} Member of the National Academy for Gifted and Talented Youth

		//- work history

		h2 Work History

		h3.first Jun 2014 - pr. !{divide} Software Engineer !{divide} Unitu
		p.text-smaller: a.toggle-section(href = 'javascript:;', data-target = 'ul#work-unitu li') Show details
		ul#work-unitu
			li Responsible for the production, development and testing of the Unitu Android app, currently deployed for use by around 2500 students in several UK universities. The app is a comprehensive reproduction of most features offered on the web platform, built entirely from scratch following an agile methodology.
			li Technical lead for the development of an all-inclusive analytics suite, specialised for the Unitu environment. This incorporates the API for all platforms to submit data (mobile and web), the storage and processing of that data, and two front-end systems to turn the data into business intelligence (one for Unitu staff, one for universities enrolled with Unitu).

		h3 Sep 2014 - Jun 2015 !{divide} Teaching Assistant !{divide} King's College London
		p.text-smaller: a.toggle-section(href = 'javascript:;', data-target = 'ul#work-kcl li') Show details
		ul#work-kcl
			li Provided support in lectures for the Advanced Practical Topics course – an optional module taken by some first- and second-year students. The module is structured to give insights on a wider range of technical and programming topics that are not covered in the standard course, including Unix, Python, version control and mobile development.

		h3 Feb 2014 - Dec 2015 !{divide} Lecturer &amp; Committee Member !{divide} KCL Tech Society
		p.text-smaller: a.toggle-section(href = 'javascript:;', data-target = 'ul#work-kcl-tech li') Show details
		ul#work-kcl-tech
			li Wrote and delivered Android development lectures as part of the #[em Build X] course ran by the society, and acted as an assistant for other lessons on beginner programming and website development.
			li Assisted with the organisation and execution of society events, from hackathons with 250+ attendees to socials and beginner programming classes.

		h3 July 2015 - Aug 2015 !{divide} Service Intern !{divide} Allianz Insurance
		p.text-smaller: a.toggle-section(href = 'javascript:;', data-target = 'ul#work-allianz li') Show details
		ul#work-allianz
			li Stationed with Petplan, one of Allainz's brands, I joined their service department and headed up two projects, as well as assisting with six other. My work centred around performance improvement and involved project management, managing upwards, technical development, research and analysis.

		h3 Dec 2008 - Aug 2014 !{divide} Self-Employed
		p.text-smaller: a.toggle-section(href = 'javascript:;', data-target = 'ul#work-self li') Show details
		ul#work-self
			li Provided full-stack website design and development, including ecommerce solutions and CMS implementations. This work was mostly carried out on LAMP-style servers, both rented from third parties and set up privately.
			li Managed all aspects of the business, including sales, consultancy, production, support and accounting.
			li Maintained a client base of individuals and business of various sizes, in the UK and overseas.

		h3 July 2014 - Aug 2014 !{divide} Project Management Intern !{divide} Excelian
		p.text-smaller: a.toggle-section(href = 'javascript:;', data-target = 'ul#work-excelian li') Show details
		ul#work-excelian
			li Worked within the project management office: tested in-house software, assisted with generating reports, created process documentation and built a digital resource sharing tool with MS SharePoint.
			li Assisted the in-house IT department with several tasks, including setting up and testing a semi-automated computer image deployment system (using, amongst other tools, the Fog Project server software).

		h3 Aug 2012 - Aug 2013 !{divide} Secondary School Teacher !{divide} Project Trust
		p.text-smaller: a.toggle-section(href = 'javascript:;', data-target = 'ul#work-project-trust li') Show details
		ul#work-project-trust
			li Taught mathematics, reading and PE for at Sand Creek Secondary School in Guyana, South America.
			li Taught extra-curricular courses for students, parents and village officials, including ICT and first aid sessions.
			li Provided peer support and mentoring as the Grade 8 form tutor.

		h3 Nov 2009 - Jun 2012 !{divide} Technician !{divide} Gigante Computers
		p.text-smaller: a.toggle-section(href = 'javascript:;', data-target = 'ul#work-gigante1 li') Show details
		ul#work-gigante1
			li Serviced all brands of PCs and laptops, including fault diagnostics, virus removal, installing and configuring software and operating systems, and repairing hardware and software faults (including replacing laptop screens and heat-gun re-flowing motherboards and graphics cards).
			li Designed and built bespoke PCs to match specifications and budgets, from servers to high-end gaming rigs.

		h3 Nov 2009 - Jun 2012 !{divide} Sales Assistant !{divide} Gigante Computers
		p.text-smaller: a.toggle-section(href = 'javascript:;', data-target = 'ul#work-gigante2 li') Show details
		ul#work-gigante2
			li Served customers and resolved issues on a sales floor offering a wide range of products and services, working with customers possessing a wide range of technical abilities.
			li Managed stock, deliveries and returns via a serialised stock tracking and PoS system.


block scripts
	script(src = '/cv/js/cv.js')
